@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
    --p-primary-50: #e6f0ff;
    --p-primary-100: #cce0ff;
    --p-primary-200: #99c2ff;
    --p-primary-300: #66a3ff;
    --p-primary-400: #3385ff;
    --p-primary-500: #0066ff;  /* Main blue */
    --p-primary-600: #0052cc;
    --p-primary-700: #003d99;
    --p-primary-800: #002966;
    --p-primary-900: #001433;
    --p-primary-950: #000a1a;
}